<!-- Section Template -->
{% assign tabs = section.settings.tabs | split: "," %}
<div class="container">
    <div class="row">
    <div class="col-12">
       <div class="tabs d-flex">
        {% for tab in tabs %}
            <button class="tab {% if forloop.index == 1 %} active {% endif %}" data-active="dropdown_{{forloop.index}}">
                {{tab}}
            </button>
        {% endfor %}
       </div>
       {% for tab in tabs %}
        <div class="dropdown {% if forloop.index == 1 %} active {% endif %}" data-active="dropdown_{{forloop.index}}">
                {% for block in section.blocks %}
                    {% if block.settings.tab_handler == tab %}
                        <div class="alert alert-info" data-drop='{{ forloop.index0 }}'>
                            <a href="#" class="dropdown-link" data-drop='{{ forloop.index0 }}'>
                                {% if template.name == 'product' and product.metafields.custom.description != blank %}
                                    {{product.metafields.custom.description.value}}
                                    {% else %}
                                    {{ block.settings.dropdown_title }}
                                {% endif %}
                            <span class="arrows">
                                <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L6 6L11 1" stroke="#1C1D1C" stroke-linecap="round"/>
                                </svg>                                
                            </span>
                            </a>
                            <div class="dropdown-content" data-drop='{{ forloop.index0 }}'>
                                {% if template.name == 'product' and product.metafields.custom.image != blank %}
                                   {% render 'responsive-img', src: product.metafields.custom.image.value.src %}
                                    <script>
                                        console.log('{{product.metafields.custom.image.value.src | json}}')
                                    </script>
                                {% endif %}
                                {{ block.settings.dropdown_content }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    </div>
</div>


{% schema %}
    {
        "name": "FAQ Section",
        "settings": [ {
                "type": "text",
                "id": "tabs",
                "label": "Tabs"
            }],
        "blocks": [
        {
            "type": "dropdown",
            "name": "Dropdown",
            "settings": [
                {
                "type": "text",
                "id": "tab_handler",
                "label": "Tab name"
            },
            {
                "type": "text",
                "id": "dropdown_title",
                "label": "Dropdown Title"
            },
            {
                "type": "textarea",
                "id": "dropdown_content",
                "label": "Dropdown Content"
            }
            ]
        }
        ],
        "presets": [
        {
            "name": "FAQ Section"
        }
        ]
    }
{% endschema %}
    