<section class="overview">
    {% for block in section.blocks %}
        <div class="overview-container">
            <div class="overview-wrapper" style="{% if block.settings.reverse %}
                flex-direction: row-reverse;
              {% endif %} background: {{ block.settings.bg | hex_to_rgba: 0.5 }}">
                <div class="overview-content">
                    <h5 class="overview-main-header">{{ block.settings.copy }}</h5>
                    <h1 class="overview-title">{{ block.settings.title }}</h1>
                    <p class="overview-text">{{ block.settings.text }}</p>
                    <div class="overview-link">
                        <a href="{{ block.settings.link_url }}">{{ block.settings.link_copy }}</a>
                        
                        {% if block.settings.show_icon %}
                          <div class="overview-svg">{{ block.settings.svg }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="overview-img">
                    <img src="{{ block.settings.image | img_url: "670x" }}" alt="{{ block.settings.image | alt }}">
                </div>
            </div>
        </div>
    {% endfor %}
</section>


<style>
.overview-wrapper {
    display:flex;
    padding-bottom: 200px;
    max-width: 1360px;
    margin: 0 auto;
    width: 100%;
}
.overview-img,
.overview-content {
    width: 50%;
}
.overview-content {
  background: #F4F1EF;
  padding: 40px 115px 0;
}
.overview-main-header {
    font-size: 18px;
    color: #666;
    text-transform: uppercase;
}
.overview-svg {
    width: 46px;
    height: 46px;
    position: relative;
    margin-bottom: 29px;
}
.overview-img img ,
.overview-svg img {
    display: block;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    max-width: 100%;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.overview-img img {
    width: 680px;
    height: 570px;
}
.overview-title {
    font-size: 32px;
    margin: 20px 0;
}
.overview-text {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 440px;
}
.overview-link {
    display: flex;
    align-items: center;
}
.overview-link a {
    text-decoration: none;
    color: #007bff;
}
.overview-svg {
    margin-left: 10px;
}
.overview-copy {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}
.overview-img {
    position: relative;
    padding-top: 42%;
}
</style>



{% schema %}
{
  "name": "overview",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
        "type": "box",
        "name": "Section block",
        "settings": [
            {
              "type": "range",

              "id": "font_size",
              "min": 12,
              "max": 24,
              "step": 1,
              "unit": "px",
              "label": "Font size",
              "default": 16
            },
            {
              "type": "checkbox",
              "id": "reverse",
              "label": "Check if you need to reverse section",
              "default":false
            },
            {
              "type": "inline_richtext",
              "id": "copy",
              "label": "Block copy"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Block title"
            },
            {
              "type": "text",
              "id": "text",
              "label": "Block text"
            },
            {
              "type": "inline_richtext",
              "id": "link_copy",
              "label": "Block link copy"
            },
             {
              "type": "checkbox",
              "id": "show_icon",
              "label": "Show icon",
              "default":false
            },
            {
              "type": "image_picker",
              "id": "icon",
              "label": "Icon"
            },
            {
              "type": "textarea",
              "id": "svg",
              "label": "Block svg"
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Main image"
            },
            {
              "type": "color",
              "id": "bg",
              "label": "Backbround",
              "default": "#FFFFFF"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "overview"
    }
  ]
}
  {% endschema %}