 <div class="slideshow" id="slider_{{section.id}}">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                <div class="swiper-slide">
                    <div class="slide-content-wrapper">
                        <div class="slide-img">
                            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }}">
                        </div>
                    <div class="slide-content">
                        <div class="slide-text">
                            <h3>{{ block.settings.title }}</h3>
                            <p>{{ block.settings.overview }}</p>
                            </div>
                        <div class="slide-button">
                            <a href="{{ block.settings.button_link }}" class="button">{{ block.settings.button_text }}</a>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-navigation">
            <button class="swiper-button-prev">{% render 'prev-arrow' %}</button>
            <div class="slider-counter"><span class="count_first"> 1 </span> of <span class="count-last"> {{section.blocks.size}} </span> </div>
            <button class="swiper-button-next">{% render 'next-arrow' %}</button>
            
        </div>

    </div>
</div>




{% schema %}
    {
      "name": "Slideshow",
      "settings": [],
      "blocks": [
        {
          "type": "slide",
          "name": "Slide",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Slide Title"
            },
            {
              "type": "textarea",
              "id": "overview",
              "label": "Overview",
              "default": "This is an overview of the slide."
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Button Link"
            },
            {
              "type": "text",
              "id": "button_text",
              "label": "Button Text",
              "default": "Learn More"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Slideshow"
        }
      ]
    }
    {% endschema %}